<!DOCTYPE html>
<html lang="en">

<head>
  {{>header}}
  <title>Add User</title>
  <style>
    .container {
      max-width: 500px;
      margin: 0 auto;
      padding: 20px;
      border: 1px solid #ccc;
      border-radius: 5px;
    }

    h1 {
      font-size: 2em;
      text-align: center;
      margin-bottom: 30px;
    }

    form {
      display: flex;
      flex-direction: column;
    }

    label {
      font-weight: bold;
      margin-bottom: 10px;
    }

    input {
      padding: 10px;
      margin-bottom: 20px;
      border: 1px solid #ccc;
      border-radius: 5px;
    }

    button {
      background-color: #007bff;
      color: #fff;
      padding: 10px 20px;
      border:
        none;
      border-radius: 5px;
      cursor: pointer;
    }

    button:hover {
      background-color: #0062cc;
    }
  </style>
</head>

<body>
  {{>navbar}}
  <div class="container">
    <h1>Create a New User</h1>
    <form action="/adduser" method="POST">
      <label for="name">Firstname:</label>
      <input type="text" id="Firstname" name="Firstname" required />
      <label for="name">Lastname:</label>
      <input type="text" id="Lastname" name="Lastname" required />
      <label for="email">Email:</label>
      <input type="email" id="email" name="Email" required />
      <label for="monbileno">Mobileno:</label>
      <input type="number" id="Phone" name="Phone" required />
      <button type="submit">Create User</button>
    </form>
  </div>

</body>

</html>