<!DOCTYPE html>
<html lang="en">

<head>
    {{>header}}
    <script src="https://kit.fontawesome.com/94b31d7673.js" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"
        integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V"
        crossorigin="anonymous"></script>
    <title>Complaints</title>
</head>

<body>
    {{>navbar}}
    
    <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="navbarNav">
                <h2>Register Your Complaint Here&nbsp</h2>
                <ul class="navbar-nav list-group text-light">
                    <li class="nav-item bg-danger rounded-3">
                        <a class="nav-link active" href="/register"><strong>Complaint Form</strong></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="navbarNav">
                <h2>To See All Complaints&nbsp</h2>
                <ul class="navbar-nav list-group text-light">
                    <li class="nav-item bg-danger rounded-3">
                        <a class="nav-link active" href="/admin"><strong>All Complaints</strong></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="navbarNav">
                <h2>To Add New User&nbsp</h2>
                <ul class="navbar-nav list-group text-light">
                    <li class="nav-item bg-danger rounded-3">
                        <a class="nav-link active" href="/adduser"><strong>Add User</strong></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

</body>

</html>