<!DOCTYPE html>
<html lang="en">

<head>
    {{>header}}
    <title>Assistant Login</title>
</head>

<body>
    {{>navbar}}

    <div class="container mt-5 text-center">
        <h1>Assistant Login</h1>
    </div>
    <div class="container mt-5">
        <form class="row g-3 needs-validation" action="/astlogin" method="post">
            <div class="mb-3">
                <label for="email" class="form-label h5">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                    name="Email" required>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label h5">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" name="Password"
                    autocomplete="on">
            </div>

            <div class="col-12">
                <button class="btn btn-danger m-1" id="hii" type="submit" name="button">Submit</button>
            </div>
        </form>
    </div>
</body>

</html>