<!DOCTYPE html>
<html lang="en">

<head>
    {{>header}}
    <title>Home Page</title>
</head>

<body>
    {{>navbar}}
    <div style="position: absolute; top:50%; left:40%;">
        <h1>Home Page</h1>
    </div>

</body>

</html>