<!DOCTYPE html>
<html lang="en">

<head>
    {{>header}}
    <title>Page Not Found</title>
</head>

<body>
    <img src="https://blog.stackfindover.com/wp-content/uploads/2022/05/Animated-404-Page-Not-Found.jpg" alt="404img">
</body>

</html>