<nav class="navbar navbar-expand-lg bg-light">
    {{!-- <div class="container m-0">
        <img src="https://scontent.famd6-2.fna.fbcdn.net/v/t1.6435-9/135096585_1042982426201131_3067209410085214058_n.jpg?_nc_cat=110&ccb=1-7&_nc_sid=a26aad&_nc_ohc=-QHaFwAretAAX-ANO78&_nc_oc=AQlpai7LzeJhYGug_pB9RMD8nOYiOerUQHDK7RqXk0NqOLF-t4VJu5HQhbC2SeJtuZVhRe-uskUMSptFwLZx2Xj-&_nc_ht=scontent.famd6-2.fna&oh=00_AfBKD0NYj4xYV8cC5QsGV8SAfGTlhGF5U1Q7oRORm9-crg&oe=6419B325"
            alt="" width="80" height="80">
    </div> --}}

    <div class="container-fluid">
        <a class="navbar-brand" href="#"><img
                src="https://scontent.famd6-2.fna.fbcdn.net/v/t1.6435-9/135096585_1042982426201131_3067209410085214058_n.jpg?_nc_cat=110&ccb=1-7&_nc_sid=a26aad&_nc_ohc=-QHaFwAretAAX-ANO78&_nc_oc=AQlpai7LzeJhYGug_pB9RMD8nOYiOerUQHDK7RqXk0NqOLF-t4VJu5HQhbC2SeJtuZVhRe-uskUMSptFwLZx2Xj-&_nc_ht=scontent.famd6-2.fna&oh=00_AfBKD0NYj4xYV8cC5QsGV8SAfGTlhGF5U1Q7oRORm9-crg&oe=6419B325"
                alt="" width="80" height="80"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="navbar-brand h1" href="/" aria-current="page">Home</a>
                </li>
                <li class="nav-item">
                    <a class="navbar-brand h1" href="/login">Login</a>
                </li>
                <li class="nav-item">
                    <a class="navbar-brand h1" href="/register">Registration</a>
                </li>
                <li class="nav-item">
                    <a class="navbar-brand h1" href="/adminlogin">Admin</a>
                </li>
                <li class="nav-item">
                    <a class="navbar-brand h1" href="/astlogin">Assistant</a>
                </li>
            </ul>
        </div>
    </div>

</nav>